.snowfall {
}

.snowflake {
    position: fixed;
    top: -10px;
    color: initial !important;
    font-size: 10px;
    opacity: 0.7;
    animation: fall linear infinite;
    pointer-events: none;
    filter: brightness(5);
}

.content {
    position: relative;
    z-index: 1;
}

@keyframes fall {
    to {
        transform: translateY(110vh);
    }
}