@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-export {
  background-color: #198a80;
}
.bg-export:not([disabled]):hover {
  background-color: #137067;
}
.bg-export[disabled] {
  background-color: #0f5b55;
}

.bg-reset {
  background-color: #b52323;
}
.bg-reset:not([disabled]):hover {
  background-color: #981c1c;
}
.bg-reset[disabled] {
  background-color: #7a1e1e;
}

.bg-settings {
  background-color: #c77d00;
}
.bg-settings:not([disabled]):hover {
  background-color: #a86600;
}
.bg-settings[disabled] {
  background-color: #7a5e00;
}

.bg-tw {
  background: #9147ff;
}
.bg-tw:not([disabled]):hover {
  background: #7b3fe4;
}
.bg-tw[disabled] {
  background: #6b2fbb;
}

@layer base {
  html {
    font-size: 16px;
  }
  body {
    @apply bg-gray-800 text-gray-200;
  }
}